<ul id="explorerContextMenu" class="contextMenu">
    <li class="">
        <a href="#properties">
            <span class="icon versions item iconText">Properties</span>
        </a>
    </li>
</ul>

