<ul id="explorerContextMenu" class="contextMenu">
    <li>
        <a href="#open">
            <span class="icon enter item iconText">Open</span>
        </a>
    </li>
    <li>
        <a href="#properties">
            <span class="icon properties item iconText">Properties</span>
        </a>
    </li>
</ul>

