<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="persistence" value="WhereAreThem.Model.StringPersistenceWithCompression, WhereAreThem.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add key="drives" value="d" />
        <add key="outputPath" value="D:\Sync\Software\WhereAreThem\lists" />
    </appSettings>
</configuration>