@using WhereAreThem.WebViewer.Models
@model List<string>
@{
    ViewBag.Title = "WhereAreThem WebViewer";
}

<ul>
    @foreach (string name in Model) {
        <li>@Html.ActionLink(name, Extensions.ActionExplorer, new { machineName = name })</li>
    }
</ul>


