<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="path" value="D:\Sync\Software\WhereAreThem\lists"/>
    <add key="enableCompression" value="true"/>
    <!-- alternative values for persistenceType: bin, txt, json or xml -->
    <add key="persistenceType" value="Bin"/>
    <!-- alternative values for explorerView: List or Details -->
    <add key="explorerView" value="Details"/>
    <add key="issuer" value="30133111300f06035504031308657269466f726365"/>
    <add key="jquery" value="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Gate/Login" timeout="60"/>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>