<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="persistence" value="WhereAreThem.Model.CompressedPersistence`1, WhereAreThem.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add key="persistenceArgs" value="WhereAreThem.Model.StringPersistence, WhereAreThem.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add key="path" value="D:\Sync\Software\WhereAreThem\lists"/>
    </appSettings>
</configuration>