<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="path" value="lists"/>
    <add key="enableWatcher" value="false"/>
    <add key="enableCompression" value="true"/>
    <!-- alternative values for persistenceType: bin, txt, jsonNet -->
    <add key="persistenceType" value="jsonNet"/>
    <!-- driveTypes can be a combination of: Fixed,Removable,Network,CDRom,Ram -->
    <add key="driveTypes" value="Fixed,Network"/>
    <!-- scannerFilters can be a combination of: Hidden,ReparsePoint,System -->
    <add key="scannerFilters" value="ReparsePoint,System"/>
    <add key="navigationHistoryCount" value="20"/>
    <add key="MediaInfoPlugin" value=".mkv|.mp4|.avi|.wmv|.flv|.webm"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
