<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="path" value="lists"/>
		<add key="enableWatcher" value="false"/>
		<!-- alternative values for format: bin -->
		<add key="format" value="bin"/>
		<!-- driveTypes can be a combination of: Fixed,Removable,Network,CDRom,Ram -->
		<add key="driveTypes" value="Fixed,Network"/>
		<!-- scannerFilters can be a combination of: Hidden,ReparsePoint,System -->
		<add key="scannerFilters" value="ReparsePoint,System"/>
		<add key="navigationHistoryCount" value="20"/>
		<add key="MediaInfoPlugin" value=".mkv|.mp4|.avi|.wmv|.flv|.webm"/>
	</appSettings>
</configuration>
